.card {
  display: flex;
  gap: 50px;
  align-items: flex-start;

  .card__image {
    width: 300px;
    aspect-ratio: 0.744;
    border-radius: 5px;

    background-image: var(--imageUrl);
    background-size: cover;
    background-position: center;
  }

  .card__info {
    align-self: center;
  }

  .info-card__top {
    .info-card__pin-icon {
      display: inline-block;
      width: 9px;
      margin-right: 5px;
    }
    .info-card__country {
      text-transform: uppercase;
      letter-spacing: 0.17em;
      margin-right: 15px;
    }
    .info-card__maps-link {
      text-decoration-line: underline;
      color: #918e9b;
      transition: color ease 300ms;

      @media (any-hover: hover) {
        &:hover {
          color: #323134;
        }
      }
    }
  }

  .info-card__title {
    font-size: 2rem;
    font-weight: 700;

    margin-bottom: 15px;
  }

  .info-card__dates {
    font-weight: 700;
    margin-bottom: 10px;
  }

  .info-card__description {
    line-height: 1.5;
    max-width: 500px;
  }
}

.card:not(:last-child) {
  padding-bottom: 20px;
  border-bottom: 1px solid #f5f5f5;
}

.card:not(:first-child) {
  padding-top: 20px;
}
